body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #3498db;
    text-decoration: underline;
}

header {
    background-color: #4beb6e;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.mentor-info {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mentor-info div {
    margin: 10px;
    text-align: center;
    flex: 0 0 calc(25% - 20px);
}

.mentor-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 10px;
}

.button {
    bottom: 20px;
    left: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #023872;
}

